### SQL Lite

In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('databases/0220_fsds.db')

In [3]:
cursor = db.cursor()

In [4]:
cursor.execute('DROP TABLE IF EXISTS fsds')
cursor.execute('create table fsds(name text, batch int, marks real)')

In [5]:
cursor.execute('insert into fsds values("azi", 123, "3.7")')

In [6]:
cursor.execute('select * from fsds')
cursor.fetchall()

[('azi', 123, 3.7)]

In [7]:
cursor.execute('insert into fsds values("azi", 123, "3.7")')
cursor.execute('insert into fsds values("azi", 123, "3.7")')
cursor.execute('insert into fsds values("azi", 123, "3.7")')
cursor.execute('insert into fsds values("azi", 123, "3.7")')
cursor.execute('insert into fsds values("azi", 123, "3.7")')
cursor.execute('insert into fsds values("azi", 123, "3.7")')

In [8]:
cursor.execute('select * from fsds')
cursor.fetchall()

[('azi', 123, 3.7),
 ('azi', 123, 3.7),
 ('azi', 123, 3.7),
 ('azi', 123, 3.7),
 ('azi', 123, 3.7),
 ('azi', 123, 3.7),
 ('azi', 123, 3.7)]

In [9]:
data = cursor.execute('select * from fsds')
for i in data:
    print(i)

('azi', 123, 3.7)
('azi', 123, 3.7)
('azi', 123, 3.7)
('azi', 123, 3.7)
('azi', 123, 3.7)
('azi', 123, 3.7)
('azi', 123, 3.7)

In [10]:
db.commit()
db.close()

In [11]:
db = sqlite3.connect('databases/0220_fsds.db')

In [12]:
cursor = db.cursor()

In [13]:
cursor.execute('select * from fsds where marks > 3.6')
cursor.fetchall()

[('azi', 123, 3.7),
 ('azi', 123, 3.7),
 ('azi', 123, 3.7),
 ('azi', 123, 3.7),
 ('azi', 123, 3.7),
 ('azi', 123, 3.7),
 ('azi', 123, 3.7)]

In [14]:
data = cursor.execute('select name, marks from fsds')

for i in data:
    print(i)

('azi', 3.7)
('azi', 3.7)
('azi', 3.7)
('azi', 3.7)
('azi', 3.7)
('azi', 3.7)
('azi', 3.7)

In [15]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
cursor.fetchall()

[('fsds',)]

In [16]:
db.close()

In [17]:
db = sqlite3.connect('databases/0220_person.db')
cursor = db.cursor()

In [18]:
cursor.execute('DROP TABLE IF EXISTS person_table')
cursor.execute('create table person_table(name text, emailid text, age int, salary real)')

In [19]:
cursor.execute('insert into person_table values("John Doe", "John.Doe@email.com", 30, 75000)')
cursor.execute('insert into person_table values("Don Doe", "Don.Doe@email.com", 25, 56000)')
cursor.execute('insert into person_table values("Don Joe", "Don.Joe@email.com", 41, 99000)')
cursor.execute('insert into person_table values("Joe Don", "Joe.Don@email.com", 21, 40000)')
db.commit()

In [20]:
cursor.execute('select * from person_table')
cursor.fetchall()

[('John Doe', 'John.Doe@email.com', 30, 75000.0),
 ('Don Doe', 'Don.Doe@email.com', 25, 56000.0),
 ('Don Joe', 'Don.Joe@email.com', 41, 99000.0),
 ('Joe Don', 'Joe.Don@email.com', 21, 40000.0)]

In [21]:
data = cursor.execute('select * from person_table')

for i in data:
    print(i)

('John Doe', 'John.Doe@email.com', 30, 75000.0)
('Don Doe', 'Don.Doe@email.com', 25, 56000.0)
('Don Joe', 'Don.Joe@email.com', 41, 99000.0)
('Joe Don', 'Joe.Don@email.com', 21, 40000.0)

In [22]:
db.close()

In [23]:
db = sqlite3.connect('databases/0220_fsds.db')
cursor = db.cursor()
cursor.execute('drop table fsds')

In [24]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
cursor.fetchall()

[]

In [25]:
db.close()

In [26]:
db = sqlite3.connect('databases/0220_person.db')
cursor = db.cursor()
data = cursor.execute('select * from person_table limit 2')
for _ in data:
    print(_)

('John Doe', 'John.Doe@email.com', 30, 75000.0)
('Don Doe', 'Don.Doe@email.com', 25, 56000.0)

In [27]:
db.close()

### JOINS

In [28]:
db = sqlite3.connect('databases/0220_jobdb.db')
cursor = db.cursor()

In [29]:
cursor.execute('drop table if exists student')
cursor.execute('drop table if exists address')

In [30]:
cursor.execute('create table student(student_id int, student_name text, student_mailid text, marks int)')

In [31]:
cursor.execute('create table address(student_id int, pincode int, location text, nearby text, phone_no int)')

In [32]:
cursor.execute('insert into student values(100, "John", "John.Doe@email.com", 90)')
cursor.execute('insert into student values(101, "John", "John.Doe@email.com", 90)')
cursor.execute('insert into student values(102, "John", "John.Doe@email.com", 90)')
cursor.execute('insert into student values(103, "John", "John.Doe@email.com", 90)')
cursor.execute('insert into student values(104, "John", "John.Doe@email.com", 90)')
cursor.execute('insert into student values(105, "John", "John.Doe@email.com", 90)')
cursor.execute('insert into student values(106, "John", "John.Doe@email.com", 90)')
cursor.execute('insert into student values(107, "John", "John.Doe@email.com", 90)')
cursor.execute('insert into student values(108, "John", "John.Doe@email.com", 90)')

In [33]:
db.commit()

In [34]:
cursor.execute('insert into address values(101, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(102, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(103, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(104, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(105, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(106, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(107, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(108, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(105, 565034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(105, 566034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(111, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(112, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(113, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(114, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(115, 560034, "whitefield", "gh office", 23657823)')
cursor.execute('insert into address values(116, 560034, "whitefield", "gh office", 23657823)')

In [35]:
db.commit()

In [36]:
for i in cursor.execute('select * from student'):
    print(i)

(100, 'John', 'John.Doe@email.com', 90)
(101, 'John', 'John.Doe@email.com', 90)
(102, 'John', 'John.Doe@email.com', 90)
(103, 'John', 'John.Doe@email.com', 90)
(104, 'John', 'John.Doe@email.com', 90)
(105, 'John', 'John.Doe@email.com', 90)
(106, 'John', 'John.Doe@email.com', 90)
(107, 'John', 'John.Doe@email.com', 90)
(108, 'John', 'John.Doe@email.com', 90)

In [37]:
for i in cursor.execute('select * from address'):
    print(i)

(101, 560034, 'whitefield', 'gh office', 23657823)
(102, 560034, 'whitefield', 'gh office', 23657823)
(103, 560034, 'whitefield', 'gh office', 23657823)
(104, 560034, 'whitefield', 'gh office', 23657823)
(105, 560034, 'whitefield', 'gh office', 23657823)
(106, 560034, 'whitefield', 'gh office', 23657823)
(107, 560034, 'whitefield', 'gh office', 23657823)
(108, 560034, 'whitefield', 'gh office', 23657823)
(105, 565034, 'whitefield', 'gh office', 23657823)
(105, 566034, 'whitefield', 'gh office', 23657823)
(111, 560034, 'whitefield', 'gh office', 23657823)
(112, 560034, 'whitefield', 'gh office', 23657823)
(113, 560034, 'whitefield', 'gh office', 23657823)
(114, 560034, 'whitefield', 'gh office', 23657823)
(115, 560034, 'whitefield', 'gh office', 23657823)
(116, 560034, 'whitefield', 'gh office', 23657823)

In [38]:
sql_script = "SELECT T1.*, T2.*\
    FROM STUDENT T1\
    LEFT JOIN ADDRESS T2\
    ON T1.STUDENT_ID = T2.STUDENT_ID"
data = cursor.execute(sql_script)
for i in data:
    print(i)

(100, 'John', 'John.Doe@email.com', 90, None, None, None, None, None)
(101, 'John', 'John.Doe@email.com', 90, 101, 560034, 'whitefield', 'gh office', 23657823)
(102, 'John', 'John.Doe@email.com', 90, 102, 560034, 'whitefield', 'gh office', 23657823)
(103, 'John', 'John.Doe@email.com', 90, 103, 560034, 'whitefield', 'gh office', 23657823)
(104, 'John', 'John.Doe@email.com', 90, 104, 560034, 'whitefield', 'gh office', 23657823)
(105, 'John', 'John.Doe@email.com', 90, 105, 560034, 'whitefield', 'gh office', 23657823)
(105, 'John', 'John.Doe@email.com', 90, 105, 565034, 'whitefield', 'gh office', 23657823)
(105, 'John', 'John.Doe@email.com', 90, 105, 566034, 'whitefield', 'gh office', 23657823)
(106, 'John', 'John.Doe@email.com', 90, 106, 560034, 'whitefield', 'gh office', 23657823)
(107, 'John', 'John.Doe@email.com', 90, 107, 560034, 'whitefield', 'gh office', 23657823)
(108, 'John', 'John.Doe@email.com', 90, 108, 560034, 'whitefield', 'gh office', 23657823)

In [39]:
sql_script = "SELECT T1.*, T2.*\
    FROM STUDENT T1\
    LEFT JOIN ADDRESS T2\
    ON T1.STUDENT_ID = T2.STUDENT_ID\
    WHERE T2.STUDENT_ID IS NOT NULL"
data = cursor.execute(sql_script)
for i in data:
    print(i)

(101, 'John', 'John.Doe@email.com', 90, 101, 560034, 'whitefield', 'gh office', 23657823)
(102, 'John', 'John.Doe@email.com', 90, 102, 560034, 'whitefield', 'gh office', 23657823)
(103, 'John', 'John.Doe@email.com', 90, 103, 560034, 'whitefield', 'gh office', 23657823)
(104, 'John', 'John.Doe@email.com', 90, 104, 560034, 'whitefield', 'gh office', 23657823)
(105, 'John', 'John.Doe@email.com', 90, 105, 560034, 'whitefield', 'gh office', 23657823)
(106, 'John', 'John.Doe@email.com', 90, 106, 560034, 'whitefield', 'gh office', 23657823)
(107, 'John', 'John.Doe@email.com', 90, 107, 560034, 'whitefield', 'gh office', 23657823)
(108, 'John', 'John.Doe@email.com', 90, 108, 560034, 'whitefield', 'gh office', 23657823)
(105, 'John', 'John.Doe@email.com', 90, 105, 565034, 'whitefield', 'gh office', 23657823)
(105, 'John', 'John.Doe@email.com', 90, 105, 566034, 'whitefield', 'gh office', 23657823)

In [40]:
data = cursor.execute('select * from student')
names = list(map(lambda x: x[0], data.description))
print(names)

['student_id', 'student_name', 'student_mailid', 'marks']

In [41]:
sql_script = 'delete from student where student_id > 106'
cursor.execute(sql_script)
db.commit()
data = cursor.execute('select * from student')
for i in data:
    print(i)

(100, 'John', 'John.Doe@email.com', 90)
(101, 'John', 'John.Doe@email.com', 90)
(102, 'John', 'John.Doe@email.com', 90)
(103, 'John', 'John.Doe@email.com', 90)
(104, 'John', 'John.Doe@email.com', 90)
(105, 'John', 'John.Doe@email.com', 90)
(106, 'John', 'John.Doe@email.com', 90)

In [42]:
sql_script = "update student set student_id = 107 where student_id = 100"
cursor.execute(sql_script)
db.commit()
for i in cursor.execute("select * from student"):
    print(i)

(107, 'John', 'John.Doe@email.com', 90)
(101, 'John', 'John.Doe@email.com', 90)
(102, 'John', 'John.Doe@email.com', 90)
(103, 'John', 'John.Doe@email.com', 90)
(104, 'John', 'John.Doe@email.com', 90)
(105, 'John', 'John.Doe@email.com', 90)
(106, 'John', 'John.Doe@email.com', 90)