In [13]:
import seaborn as sns
import numpy as np
import pandas as pd

In [14]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

df['species'] = df['species'].map({'setosa': 0, 'versicolor': 1, 'virginica': 2})
df.head()

In [17]:
setver = df[df['species'] != 'virginica']
setvir = df[df['species'] != 'versicolor']
virver = df[df['species'] != 'setosa']

display(setver['species'].unique())
display(setvir['species'].unique())
display(virver['species'].unique())

array(['setosa', 'versicolor'], dtype=object)

array(['setosa', 'virginica'], dtype=object)

array(['versicolor', 'virginica'], dtype=object)

### 1. Binary Classification

#### 1.1 Setosa VS Versicolor

In [19]:
setver['species'] = setver['species'].map({'setosa': 0, 'versicolor': 1, 'virginica': 2})
setver.head()

/var/folders/92/f2p4m4hd0kx5mfxlpj99j4_40000gn/T/ipykernel_20347/2254073209.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  setver['species'] = setver['species'].map({'setosa': 0, 'versicolor': 1, 'virginica': 2})

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [20]:
# Features into independent and dependent ones
X = setver.iloc[:, :-1]
y = setver.iloc[:, -1]

display(X.head())
display(y.head())

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [22]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()

In [25]:
from sklearn.model_selection import GridSearchCV

parameters = {'C': [0.5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
              'penalty': ['l1', 'l2', 'elasticnet']}

log_regressor = GridSearchCV(estimator=reg,
                             param_grid=parameters,
                             scoring='accuracy',
                             cv=5)

log_regressor.fit(X,y)
display(log_regressor.best_score_)
display(log_regressor.best_params_)

/Users/lecha/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
110 fits failed out of a total of 165.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
55 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/lecha/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/lecha/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/Users/lecha/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
55 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/lecha/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/lecha/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/Users/lecha/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/lecha/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:969: UserWarning: One or more of the test scores are non-finite: [nan  1. nan nan  1. nan nan  1. nan nan  1. nan nan  1. nan nan  1. nan
 nan  1. nan nan  1. nan nan  1. nan nan  1. nan nan  1. nan]
  warnings.warn(

1.0

{'C': 0.5, 'penalty': 'l2'}

In [ ]:
log_regressor.predict